*,
*::before,
*:after{
    box-sizing: border-box;
}

body{
    background: lightgray;
    font: verdana, arial,sans-serif;
    max-width: 75vw;
    margin: 0 auto;
}

.title{
    text-align: center;
    color: gray;
}

.card-container ul{
    list-style-type: none;
    display: flex;
}

.card{
    background-color: #ffffff;
    margin: 0.5rem;
    border-radius: 8px;
    border: 2px outset lightgray;
}

.card a{
    color: black;
    text-decoration: none;
}

.card a:hover{
    color: gray;
}

.card .image{
    height: auto;
    width: 250px;
}

.card h4{
    display: block;
    padding: 4px;
    margin: 0px;
    text-underline-position: above;
}
